body{
	margin:0 !important;
	background-color: rgb(210,205,200);
}

div .jumbotron{
	position:relative;
	top:0;
	z-index: 1;
	height: 100vh;
	width: 100%;
	margin-bottom: 0;

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
}

.background-img-holder{
	width:100%;
	left:0;
	display: block;
	position: absolute;
}

.background-fade{
	border-top: 5px solid black;
	position:absolute;
	display:block;
	top:0;
	left:0;
	background: linear-gradient(to bottom, rgba(210,205,200,0),rgba(210,205,200,1)); /*Standard*/
	z-index: 1;
	height:100%;
	width:100%;
}

.background-img{
	max-width: 100% !important;
  	display: block;
  	z-index: 0;
}

.container1{
	float:left;
	position: relative;
	top: 30px;
	border: 2px solid rgb(243,214,200);
	border-radius: 4px;
	width: 80%;
	margin-left: 2%;
	text-align: center;
	height:auto;
	background:rgba(230,230,230,.8);
	z-index: 3;
	margin-bottom: 20px;
}

.affix-navbar{
	float:right;
	position: relative;
	top: 30px;
	border: 2px solid rgb(243,214,200);
	border-radius: 4px;
	right: calc((100% - 1000px) * .1);
	z-index: 3;
}

.affix{
	position: fixed;
	top: 30px;
	right: calc((100% - 1000px) * .1);
}

.affix-top{
	display:block;
}

.affix-element{
	height: 100px;
	width: 167px;
	text-align: center;
	padding-top:35px;
	background:rgb(22, 22, 22);"
}

.affix-element span{
	color: rgb(222,222,222);
	font-size: 20px;
}

.active{
	background:rgb(101, 137, 104);"
}

.active span{
	color: rgb(20,20,20);
	font-weight: 700;
}

h1{
	color: rgb(20,20,20);
	height:50px;
	margin:20px;
	font-size: 40px;
}

p,h2,h3,h4{
    text-align: left;
    color: rgb(20,20,20);
    margin:5px;
    margin-left:20px;
    margin-right:20px;
}

.indent1{
	margin-left: 50px;
}

.subject{
	max-width:1000px;
}


div .ghost-print{

}

div .ghost-button-print{
	position: absolute;
	top: 80%;
	left: 40%;
	border: 2px solid rgb(223,207,209);
	border-radius: 4px;
	height: 60px;
	width: 265px;
	text-align: center;
}

.ghost-button-print span{
	position: relative;
	color: inherit;
	top:14px;
}

@media screen and (max-width: 1000px) {
	.container1{
		width:90%;
		margin-right: 5%;
		margin-left: 5%;
	}
}

@media screen and (max-width: 750px) {
	.container1{
		width:100%;
		margin-right: 0;
		margin-left: 0;
	}

	.affix-navbar{
		display:none;
	}

	.affix{
		display:none;

	}

	.affix-top{
		display:none;
		visibility: hidden;
	}
}

