body{
	margin:0 !important;
	background-color: rgb(210,205,200);
}

div .jumbotron{
	position:relative;
	top:0;
	z-index: 1;
	height: 100vh;
	width: 100%;
	margin-bottom: 0;

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
}

.background-img-holder{
	width:100%;
	left:0;
	display: block;
	position: absolute;
}

.background-fade{
	border-top: 5px solid black;
	position:absolute;
	display:block;
	top:0;
	left:0;
	background: linear-gradient(to bottom, rgba(210,205,200,0),rgba(210,205,200,1)); /*Standard*/
	z-index: 1;
	height:100%;
	width:100%;
}

.background-img{
	max-width: 100% !important;
  	display: block;
  	z-index: 0;
}

.container1{
	float:left;
	position: relative;
	top: 30px;
	border: 2px solid rgb(243,214,200);
	border-radius: 4px;
	width: 80%;
	margin-left: 2%;
	text-align: center;
	height:auto;
	background:rgba(230,230,230,.8);
	z-index: 3;
	margin-bottom: 20px;
}

.affix-navbar{
	float:right;
	position: relative;
	top: 30px;
	border: 2px solid rgb(243,214,200);
	border-radius: 4px;
	right: calc((100% - 1000px) * .1);
	z-index: 3;
}

.affix{
	position: fixed;
	top: 30px;
	right: calc((100% - 1000px) * .1);
}

.affix-top{
	display:block;
}

.affix-element{
	height: 100px;
	width: 167px;
	text-align: center;
	padding-top:35px;
	background:rgba(22, 22, 22, .8);
}

.affix-element span{
	color: rgb(222,222,222);
	font-size: 20px;
}

.active{
	background:rgba(101, 137, 104, .6);
}

.active span{
	color: rgb(20,20,20);
	font-weight: 700;
}

h1{
	color: rgb(20,20,20);
	height:50px;
	margin:20px;
	font-size: 40px;
}

p,h2,h3,h4{
    text-align: left;
    color: rgb(20,20,20);
    margin:5px;
    margin-left:20px;
    margin-right:20px;
}

.indent1{
	margin-left: 50px;
}

.subject{
	max-width:1000px;
}

div .ghost-button-print{
	position: absolute;
	top: calc((100% - 60px) * .85);
	left: calc((100% - 365px) * .74);
	border: 2px solid rgb(256,256,256);
	border-radius: 4px;
	height: 60px;
	width: 365px;
	text-align: center;
	background: rgba(0,0,0,.4);
}

.ghost-button-print span{
	position: relative;
	color: inherit;
	top:14px;
}

div .ghost-text-print{
	position: absolute;
	top: 72%;
	left: calc((100% - 500px) * .1);
	box-shadow: 0 0 45px 45px rgba(0,0,0,.2);
	border-radius: 4px;
	height: 100px;
	width: 450px;
	color: rgb(240,240,240);
	background: rgba(0,0,0,.2);
}

.ghost-text-print p{
	text-align: left;
	position: relative;
	color: inherit;
	top: -10px;
	font-size: inherit;
}

@media screen and (max-width: 1000px) {
	.container1{
		width:90%;
		margin-right: 5%;
		margin-left: 5%;
	}
		.affix-navbar{
		display:none;
	}

	.affix{
		display:none;
	}

	.affix-top{
		display:none;
		visibility: hidden;
	}
}

@media screen and (max-width: 750px) {
	.container1{
		width:98%;
		margin-right: 0;
		margin-left: 0;
	}
	.affix-navbar{
		display:none;
	}

	.affix{
		display:none;
	}

	.affix-top{
		display:none;
		visibility: hidden;
	}

}

@media screen and (min-width: 1250px) and (max-width: 1450) {
	.container1{
		width:1000px;
		margin-left: calc((100% - 1100px)* .3);
	}
	.affix{
		right: calc((100% - 1200px) * .3);
	}
	.affix-top{
		right: calc((100% - 1200px) * .3);
	}
}

@media screen and (min-width: 1450px) {
	.container1{
		width:1150px;
		padding-left: 100px;
		padding-right: 100px;
		margin-left: calc((100% - 1100px)* .3);
	}
	.affix{
		right: calc((100% - 1400px) * .3);
	}
	.affix-top{
		right: calc((100% - 1400px) * .3);
	}
}